@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

body {
	
	background-size: cover;
	background-position: center;
	height: 100vh;
	/*display: flex;*/
	justify-content: center;
	font-size: 1rem;
	line-height: 2;
	font-family: "Poppins", sans-serif;
    padding-left: 80px;
}
h1{
    color: #fff;
}
button{
    background-color: #848455;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding-left: 50px;
    justify-content: center;
    margin-left: 70px;
  }